@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.bg {
    background-image: url("img/aincrad.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg.end {
    background-image: url("img/end.jpg");
}

.flex-container {
    display: flex;
    height: 98%;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-direction: column;
}

.flex-footer {
    display: flex;
    height: 1%;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-direction: column;
    color: white;
    font-family: 'Zen Old Mincho', serif;
    font-size: 1vw;
    text-shadow: 0 0 12px #32c5fa;
}

.flex-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 6vw;
    text-shadow: 0 0 12px #32c5fa;
    flex-direction: column;
}

.warning {
    text-shadow: 0 0 12px #d61818;
}

.title {
    font-family: 'Zen Old Mincho', serif;
}